@charset "UTF-8";


main {
width: 100%;
height: 100vh;
background-color: burlywood;

}

main section {
    width: 100%;
    height: 100%;
    border: 5px dotted olive;
    box-sizing: border-box; 
    /* 테두리가 화면 밖으로 나가는 거 방지 */
    display: flex;
  

    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    /* align은 wrap일때만 됨; 이래야 줄바꿈이 되니까 */
    align-items: center;
    /* nowrap일때 설정하려면 items */

   
}

article {
    /* width: 100px; */
    /* height: 100px; */
    /* 크기 설정 안하면->인라인이라? 글자 크기만큼 박스가 생김 */
    background: gold;
    border: 5px dotted salmon;
    box-sizing: border-box; 

    font-family: Arial, Helvetica, sans-serif;
color: olive;
text-align: center;
font-style: italic;
flex:1;
    
}
article:nth-of-type(2){
    flex-grow: 4;
}


article:hover{
    flex-grow: 2;
    transition: 1s;
    background-color: blanchedalmond
}


 
